<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel = "stylesheet" href="Style.css">
</head>
<body>
<div id="HomePage">
    <div  class = "nonsideMenu" name = "nonSideMenu" height = "100%">
        <img id="sayonara4now-cyberpunk-city-sc_k" src="/Images/sayonara4now-cyberpunk-city-sc.png" srcset="sayonara4now-cyberpunk-city-sc_k.png 1x, sayonara4now-cyberpunk-city-sc_k@2x.png 2x">

        <div class="joinGameButton">
            <button  name = "" type = "submit" id = "joinGameButton" rx="0" ry="0" x="0" y="0" width="264" height="83">JOIN GAME</button>
        </div>

        <div class="createGameButton">
            <button type ="submit" id="createGameButton" rx="0" ry="0" x="0" y="0" width="264" height="83">CREATE GAME</button>
        </div>

        <svg class="Ellipse_1">
            <ellipse id="Ellipse_1" rx="42" ry="47" cx="42" cy="47">
            </ellipse>
        </svg>

        <img id="Upward_Mobility_big" src="Upward_Mobility_big.png" srcset="Upward_Mobility_big.png 1x, Upward_Mobility_big@2x.png 2x">
    </div>

    <div name="homePageSideM" class="sideMenu">
        <rect id="sideMenu" rx="0" ry="0" x="0" y="0">
        </rect>

        <img id="unknown" src="unknown.png" srcset="unknown.png 1x, unknown@2x.png 2x">

        <div id="accountName">
            <span>THELEGNED27</span>
        </div>

        <div class="statsButton">
            <button id="statsButton" rx="0" ry="0" x="0" y="0" width="260" height="62">STATS</button>
        </div>

        <div class="achievementsButton">
            <button id="achievementsButton" rx="0" ry="0" x="0" y="0" width="260" height="62" top = "376">ACHIEVEMENTS</button>
        </div>

        <div class="settingsButton">
            <button id="settingsButton" rx="0" ry="0" x="0" y="0" width="260" height="62">SETTINGS</button>
        </div>
    </div>



</div>
</body>
</html>