<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web 1920 – 2</title>
    <link rel="stylesheet" href="./LoginAndSignupPage.css">
</head>
<body>
<div id="Web_1920__2">
    <img id="sayonara4now-cyberpunk-city-sc" src="sayonara4now-cyberpunk-city-sc.png" srcset="sayonara4now-cyberpunk-city-sc.png 1x, sayonara4now-cyberpunk-city-sc@2x.png 2x">

    <svg class="Ellipse_1">
        <ellipse id="Ellipse_1" rx="42" ry="47" cx="42" cy="47">
        </ellipse>
    </svg>
    <svg class="Rectangle_30">
        <rect id="Rectangle_30" rx="0" ry="0" x="0" y="0">
        </rect>
    </svg>
    <svg class="Rectangle_34">
        <rect id="Rectangle_34" rx="0" ry="0" x="0" y="0" width="1" height="1">
        </rect>
    </svg>
    <div id="Please_Log_In">
        <span>Please Log In:</span>
    </div>
    <svg class="Username_Input_Field">
        <input type="text"
               placeholder="USERNAME"
               id="Username_Input_Field" rx="0" ry="0" x="0" y="0">
        </input>
    </svg>
    <svg class="Password_Input_Field">
        <input type="text"
               placeholder="PASSWORD"
              id="Password_Input_Field" rx="0" ry="0" x="0" y="0">
        </input>
    </svg>

    <div id="Dont_have_an_account__Click_He">
        <a href="">Dont have an account?<br/><br/>Click Here</a>
    </div>
    <div id="Forgot_Password">
        <a href="">Forgot Password?</a>
    </div>
    <img id="Upward_Mobility_big" src="Upward_Mobility_big.png" srcset="Upward_Mobility_big.png 1x, Upward_Mobility_big@2x.png 2x">

    <img id="Upward_Mobility_big_x" src="Upward_Mobility_big_x.png" srcset="Upward_Mobility_big_x.png 1x, Upward_Mobility_big_x@2x.png 2x">

    <svg class="Login_Button">
        <button id="Login_Button" rx="0" ry="0" x="0" y="0">
        </button>
    </svg>
</div>
</body>
</html>