<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web 1920 – 3</title>
    <link rel="stylesheet" href="./SignUpPage.css">
</head>
<body>
<div id="Web_1920__3">
    <img id="sayonara4now-cyberpunk-city-sc" src="sayonara4now-cyberpunk-city-sc.png" srcset="sayonara4now-cyberpunk-city-sc.png 1x, sayonara4now-cyberpunk-city-sc@2x.png 2x">

    <svg class="Ellipse_1">
        <ellipse id="Ellipse_1" rx="42" ry="47" cx="42" cy="47">
        </ellipse>
    </svg>
    <svg class="Rectangle_30">
        <rect id="Rectangle_30" rx="0" ry="0" x="0" y="0" width="305" height="905">
        </rect>
    </svg>
    <svg class="Rectangle_34">
        <rect id="Rectangle_34" rx="0" ry="0" x="0" y="0" width="1" height="1">
        </rect>
    </svg>
    <div class="Create_your_account__" id="Create_your_account__">
        <span>Create your account:<br/></span><br/>
    </div>
    <svg class="Username_Input_Field">
        <input type="text"
               placeholder="USERNAME"
               id="Rectangle_38" rx="0" ry="0" x="0" y="0">
        </input>
    </svg>
    <svg class="Email_Input_Field">
        <input type="text"
               placeholder="EMAIL"
               id="Rectangle_39" rx="0" ry="0" x="0" y="0">
        </input>
    </svg>
    <svg class="Password_Input_Field">
        <input type="text"
               placeholder="PASSWORD"
               id="Rectangle_40" rx="0" ry="0" x="0" y="0">
        </input>
    </svg>
    <svg class="Repeat_Input_Field">
        <input type="text"
               placeholder="REPEAT PASSWORD"
               id="Rectangle_41" rx="0" ry="0" x="0" y="0">
        </input>
    </svg>
    <div id="Already_have_an_account___Clic">
        <a href="">Already have an account? <br/><br/>Click here</a>
    </div>
    <img id="Upward_Mobility_big" src="Upward_Mobility_big.png" srcset="Upward_Mobility_big.png 1x, Upward_Mobility_big@2x.png 2x">

    <img id="Upward_Mobility_big_z" src="Upward_Mobility_big_z.png" srcset="Upward_Mobility_big_z.png 1x, Upward_Mobility_big_z@2x.png 2x">

</div>
</body>
</html>