<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web 1920 – 5</title>
    <link rel = "stylesheet" href="src/Templates/GameLobbyStylesheet.css">

</head>
<body>
<div id="Web_1920__5">
    <div class="sideMenu">
        <rect id="Rectangle_30" rx="0" ry="0" x="0" y="0" >
        </rect>
       <p style="margin-top: 300px" id = "MaxPlayerText">MAX PLAYERS:</p>
        <input type = "text" placeholder="6"/>
        <p id = "RoundTime" style="margin-top: 100px">Round Time: </p>
        <input type="text" id = "roundInput" placeholder="25sec"/>
        <button type = "submit" text = "Start">Start</button>
    </div>

    <img id="Upward_Mobility_big" src="Upward_Mobility_big.png" srcset="Upward_Mobility_big.png 1x, Upward_Mobility_big@2x.png 2x"/>

    <svg class="nonsideMenu">
        <rect id="Rectangle_51" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
    <svg class="Rectangle_52">
        <rect id="Rectangle_52" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
    <svg class="Rectangle_53">
        <rect id="Rectangle_53" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
    <svg class="Rectangle_54">
        <rect id="Rectangle_54" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
    <svg class="Rectangle_55">
        <rect id="Rectangle_55" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
    <svg class="Rectangle_56">
        <rect id="Rectangle_56" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
    <svg class="Rectangle_57">
        <rect id="Rectangle_57" rx="0" ry="0" x="0" y="0" >
        </rect>
    </svg>
</div>
</body>
</html>